aiohttp
anytree
https://github.com/Anshusharma75/jhamak/archive/refs/heads/master.zip
appdirs
beautifulsoup4
cloudscrape
cfscrape
feedparser
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
heroku3
html-telegraph-poster
js2py
lk21
lxml
messages
psutil
psycopg2-binary
pybase64
pyrogram
python-dotenv
python-magic
python-telegram-bot
pytz
requests
https://github.com/Anshusharma75/prabhu/archive/refs/heads/master.zip
https://github.com/Anshusharma75/jati/archive/refs/heads/master.zip
telegraph
tenacity
TgCrypto
https://github.com/hsjsa/tttool/archive/refs/tags/v1.1.0.zip
urllib3
https://github.com/Anshusharma75/gandusaala/archive/refs/heads/master.zip
quoters
pyshorteners
bs4
natsort
Pillow
